#home-component {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result-container {
    padding: 1em 0;
}

#timestamp-container {
    flex: 1;
    height: 0px;
    overflow: auto;
}

#btn-container {
    width: 100%;
}


#add-ts-btn {
    margin: 1rem 0;
}

.ts-container  {
    margin: 1rem;
    text-align: center;
}