

<div id="home-component" class="container">
    
  <div id="result-container">
    <h2 class="h4">{{timeAtWork}}</h2>
  </div>
  
  <div id="timestamp-container">
  <div class="ts-container" *ngFor="let t of workingDay.timestamps; let i = index">
    <!-- <div class="col-xs-6"> -->
      <div class="input-group">
          <input type="time" class="form-control" [(ngModel)]="t.time" (ngModelChange)="changeTimestamp($event, t)">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="deleteTimestamp(i)">Remove</button>
          </span>
        </div>
    <!-- </div> -->
  </div>
</div>

  <div id="btn-container">
    <button id="add-ts-btn" type="button" class="btn btn-info btn-lg btn-block" (click)="addTimestamp()">
        Tap  
        <span *ngIf="workingDay.timestamps.length % 2 == 0">!</span>
        <span *ngIf="workingDay.timestamps.length % 2 != 0">!!</span>
      </button>
  </div>
</div>